<!DOCTYPE html>
<html>
    <head>
        <title>Jen and Chad's Photo Booth</title>
        <script src="jquery-1.6.2.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="coffee-script.js" type="text/javascript" charset="utf-8"></script>
        <link rel="stylesheet" href="/photobooth-style.css" type="text/css" media="screen" title="no title" charset="utf-8">
        <style type="text/css" media="screen">
            html, body {
                width:100%;
                height:100%;
                margin:0;
                padding:0;
                overflow:hidden;
            }
        
            .preload {
                position:absolute;
                margin-left:-10000px;
            }
            .button {
                width:400px;
                height:400px;
                background: transparent url(assets/green-button.png) no-repeat;
                margin-left:auto;
                margin-right:auto;
                background-position:17px 0;
            }
            
            .redbutton {
                width:400px;
                height:400px;
                background: transparent url(assets/red-button.png) no-repeat;
                margin-left:auto;
                margin-right:auto;
                background-position:17px 0;
            }
            
            .blackbutton {
                width:400px;
                height:400px;
                background: transparent url(assets/black-button.png) no-repeat;
                margin-left:auto;
                margin-right:auto;
                background-position:17px 0;
            }
            
            #countdown {
                background-image:none;
                background-color:transparent;
                border:none;
                box-shadow:none;
                text-align:center;
            }
            
            #countdown h2 {
                font-size:280px;
                margin:0 0;
/*                font-family:sans-serif;                */
            }
            
            #countdown h3 {
                font-size:82px;
            }
            
            #photographing, #processing, #final_review {
                text-align:center;
                position:absolute;
                left:0; top:0;
                margin:0;
                padding:0;
                background:black;
                width:100%;
                height:100%;
            }
            
            #processing {
                text-align:center;
            }
            
            #processing svg {
                margin-left:auto;
                margin-right:auto;
                width:400px;
            }
            
            #photographing h2, #processing h2 {
                color:white;
                font-size:140px;
                text-shadow: 0px 3px 8px #2A2A2A;
                -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), color-stop(20%, rgba(0,0,0,.5)), to(rgba(0,0,0,1)));
            }
            
            #photographing h3, #processing h3 {
                color:white;
                text-shadow: 0px 3px 8px #2A2A2A;
                -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), color-stop(20%, rgba(0,0,0,.5)), to(rgba(0,0,0,1)));
            }
            
            #photographing h3 {
                padding-top:30px;                
            }
            
            
            #photographing h3:first-child {
                padding-top:0px;
            }

            #review {
                margin-top:300px;
                width:1200px;
            }
            
            #review h2 {
                margin-top:-80px;
            }
            
            .photos {
                margin-left:auto;
                margin-right:auto;
                width:2300px;
            }
            
            .photos .photo {
                width:400px;
                height:300px;
                border:dashed 4px #999;
                background: -webkit-gradient(linear, left top, left bottom, from(#1F1F1F), to(#262626));
                border-radius:10px;
                float:left;
                margin-right:20px;
                margin-left:20px;
            }
            
            .photos .photo.done {
                background:white;
                border:solid 1px black;
                border-radius:0px;
                width:420px;
                height:400px;
                margin-right:10px;
                position:relative;
            }
            
            .photos .photo .frame {
                display:none;
            }
            
            .photos .photo.done .frame, .photos .photo.done img {
                position:absolute;
                top:10px;
                left:10px;
                display:block;
                width:400px;
                height:300px;
                margin-left:auto;
                margin-right:auto;
                background: -webkit-gradient(linear, left top, left bottom, from(#636464), to(#9E9A9D));
                border:solid 1px black;
            }
            
            .photos .photo.done .frame {
                z-index:2;
            }
            
            @-webkit-keyframes rotate {
              from {
                -webkit-transform: rotate(0deg);
              }
              to { 
                -webkit-transform: rotate(360deg);
              }
            }
            
            svg.spinner
            {
                -webkit-animation-name:             rotate; 
                -webkit-animation-duration:         3s; 
                -webkit-animation-iteration-count:  infinite;
                -webkit-animation-timing-function: linear;
                margin-top:25px;
            }
            
            #countdown {
                position:absolute;
                left:170px;
                top:30px;
                font-size:140px;
                color:white;
            }
            
            .photo {
                position:relative;
                z-index:10;
            }
            
            #review {
                margin-top:360px;
                width:1835px;
                margin-left:auto;
                margin-right:auto;
            }
            
            #review .choice {
                width:600px;
                margin-right:10px;
                float:left;
            }
            
            #large_photo_reel {
                width:60000px;
                -webkit-transition:left 30s linear;
                padding-top:20px;
                padding-left:2600px;
                position:absolute;
                left:0px;
                top:0px;
            }
            
            #large_photo_reel .photo {
                float:left;
                margin-right:200px;
                background:white;
                padding:25px 25px 100px 25px;
                float:left;
            }
            
            #large_photo_reel .photo img {
                width:1600px;
                height:600px;
            }
            
            #final_review img {
                position:absolute;
                top:100px;
                left:400px;
                width:1600px;
                height:1200px;
                opacity: 0;
                -webkit-transition-property: opacity, -webkit-transform, left, top;
                -webkit-transition-duration:2s, 10s, 10s, 10s;
            }
            
            #final_review img.front {
                top:200;
                left:700px;
                -webkit-transform: rotate(10deg);
                opacity: 1.0;
            }
            
            #final_review img.front:nth-child(odd) {
                top:0;
                left:200px;
                -webkit-transform: rotate(-10deg);
                opacity: 1.0;
            }
            
            #print {
                text-align:center;
            }
            
/*            #print svg {
                padding-left:65px;
            }
*/            
            #print p {
                font-size: 28px;
            }
            
            #print h2 {
                padding:0px;
                margin:0px;
            }
            
            .flash {
                position:absolute;
                left:0;
                top:0;
                height:25px;
                width:100%;
                z-index:100;
                display:none;
            }
            
            #green {
                background-color:green;
            }
            
            #red {
                background-color:red;
            }

            #black {
                background-color:black;
                border-bottom:solid grey 2px;
            }

            #final_review p {
                font-size:24px;
                color:white;
                position:absolute;
                bottom:10px;
                right:10px;
                color:#B14B45;
            }

        </style>
    </head>
    <body>
        <div class="flash" id="green"></div>
        <div class="flash" id="red"></div>
        <div class="flash" id="black"></div>
        <h1>PHOTO BOOTH</h1>
        <img src="jelly.jpg" width="885" height="1224" class="jelly"/> 
        <img src="brittle.png" width="357" height="409" class="brittle"/>
        <img class="preload" src="assets/green-button.png" width="400" height="400" class="brittle"/>
        <img class="preload" src="assets/green-button-depressed.png" width="400" height="400" class="brittle"/>
        <img class="preload" src="assets/red-button.png" width="400" height="400" class="brittle"/>
        <img class="preload" src="assets/red-button-depressed.png" width="400" height="400" class="brittle"/>
        <img class="preload" src="assets/black-button.png" width="400" height="400" class="brittle"/>
        <img class="preload" src="assets/black-button-depressed.png" width="400" height="400" class="brittle"/>
        <div id="intro" class="paper">
            <h2>Press the Green Button to start taking photos</h2>
            <div class="greenbutton button">&nbsp;</div>
        </div>
        </div>
        <div id="photographing" style="display:none;">
            <h3>Taking 5 photographs</h3>
            <div class="photos">
                
            </div>
            <br style="clear:both;">
            <h3></h3>
            
            <h2></h2>
        </div>
        <div id="final_review" style="display:none;">
            <p>press the red button to skip</p>
        </div>
        <div id="review" class="paper" style="display:none;">
            <div class="choice">
                <div class="greenbutton button">&nbsp;</div>
                <h2>Print and post to chadandjen.net</h2>                
            </div>
            <div class="choice">
                <div class="redbutton button">&nbsp;</div>
                <h2>Print only</h2>      
            </div>
            <div class="choice">
                <div class="blackbutton button">&nbsp;</div>
                <h2>Try again</h2>
            </div>
            <br style="clear:both;">
        </div>
        <div id="print" class="paper" style="display:none;">
            <h2>Printing</h2>
            <p>Please make sure the printer has paper loaded. Printing takes around 35 seconds.</p>
        </div>
    </body>
    <script src="/socket.io/socket.io.js"></script>
    <script src="index.coffee" type="text/coffeescript" charset="utf-8"></script>
</html>